<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!--配置connection-factory，指定连接rabbit server参数 -->
    <rabbit:connection-factory id="connectionFactory" virtual-host="/" username="guest" password="guest"
                               host="192.168.176.132" port="5672"/>

    <!--通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成 -->
    <rabbit:admin id="connectAdmin" connection-factory="connectionFactory"/>

    <!--定义queue -->
    <rabbit:queue name="queue100" durable="true" auto-delete="false"
                  exclusive="false" declared-by="connectAdmin"/>

    <!-- 定义direct exchange，绑定queue100 -->
    <rabbit:direct-exchange name="queue100ExChange"
                            durable="true" auto-delete="false"  declared-by="connectAdmin">
        <rabbit:bindings>
            <rabbit:binding queue="queue100" key="queue100Key"></rabbit:binding>
        </rabbit:bindings>

    </rabbit:direct-exchange>

    <!--定义rabbit template用于数据的接收和发送 -->
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory"
                     exchange="queue100ExChange"/>

    <bean id="myProducer" class="top.yuyufeng.demo.MyProducer"/>


</beans>